.notes-container {

}



.tp-box {
    position: relative;
    width: 200px;
    height: 100px;
    margin: 3rem auto;
    transform-style: preserve-3d;
    transition: transform 1s;
    box-shadow: 10px 10px 5px #424242;
    
}

.tp-box__side {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    color: #fff;
    text-align: center;
    /*line-height: 90px;*/
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}
  
.tp-box__front {
    background: #ffab40;
}
  
.tp-box__back {
    background:  #ff4081;
    transform: rotateY(179.9deg);
}

#container {
    width: 50%;
    height:100%;
    margin: 5em auto;
    padding: 0;
    background:transparent;
}

.items {
    /*max-width:300px;
    height:300px;*/
    background:transparent;
}

#left, #right { 
    margin: 30px;
}