<md-grid-list cols="1" rowHeight="100px;">
  <md-grid-tile>
    <h1 style="color:white;">{{title}}</h1>
  </md-grid-tile>

</md-grid-list>

<div class="notes-container">

  <md-grid-list cols="4" rowHeight="3:1">
    <md-grid-tile *ngFor="let note of data">
      <div class="tp-box" (click)="toggleFlip(note)" [@flipState]="note.toggled">
        <div class="tp-box__side tp-box__front">Unveal Me
        </div>
        <div class="tp-box__side tp-box__back">{{note.quote}}
        </div>
      </div>
    </md-grid-tile>
  </md-grid-list>

</div>


<div id="container">
  <div ng2-carouselamos class="slides-wrapper" [items]="items" [width]="900" [$prev]="prev" [$next]="next" [$item]="item">
  </div>


  <ng-template #prev>
    <img src="assets/images/left-arrow.png" id="left" height="100px" width="50px" />
  </ng-template>
  <ng-template #next>
    <img src="assets/images/right-arrow.png" id="right" height="100px" width="50px" />
  </ng-template>
  <ng-template #item let-item let-i="index">

    <div class="items">
      <img src="{{ item.name }}" style="margin-right:15px">
    </div>

  </ng-template>
</div>

<md-grid-list cols="1" rowHeight="20px;">
  <md-grid-tile>
    <h3 style="color:white">Enter your reaction:</h3>
  </md-grid-tile>

</md-grid-list>

<md-grid-list cols="1" rowHeight="500px;">
  <md-grid-tile>

    <md-input-container>
      <input mdInput style="color:white" [(ngModel)]="inputText">
    </md-input-container>
    <button md-raised-button (click)="getGiphy()" style="margin-right:15px; margin-left: 10px;">Submit</button>

    <div *ngIf="giphies">
      <img src="{{giphies.image_url}}" />
    </div>
  </md-grid-tile>

</md-grid-list>